.super-mario {
    width: 200px;
    
    
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 350px;
    left: 100px;

  }
  
  .baloon {
      position: absolute;
      z-index: 1;
      top:100px;
      width: 200px;
      left: 230px;
  
  }
  
  .speach {
    font-size: 17px;
    position: absolute;
    z-index: 2;
    top: 130px;
    left:240px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    
    top: 200px;
    left: 400px;
  }