body{
  margin: 0px;
}

.color{
display: inline-block;
width:70px;
height:70px;
border: 1px solid; 
border-radius: 40px;
}

.pixel{
display: inline-block;
width:40px;
height:40px;
border: 1px solid black;
}

.line{
  margin-bottom: -4px;
}




