body{
background-color:rgb(253, 251, 251);
position:relative;
}

#cabecalho{
background-color:green;
color:white;
position:fixed;
display:inline-block;
top:0;
left:0;
width:100%;
text-align:center;
}

#minha_foto{
width:300px;
position:absolute;
top:150px;
border-radius:20px;
margin:30px;
padding:1px;
}

#licoes_aprendidas{
position:absolute;
margin-left:30px;
top:600px;
}

#licoes_titulo{
position:absolute;
margin-left:30px;
top:550px;
}

#licoes_a_aprender{
position:absolute;
margin-left:200px;
top:600px;
}

#licoes_aprender_titulo{
position:absolute;
margin-left:200px;
top:550px;
}

#rodape{
position:absolute;
top:1200px;
}

#artigo{
position:absolute;
width:400px;
text-align:justify;
top: 900px;
margin-left:30px;
font-size:18px;
color:black;
font-family:Impact, sans-serif;
line-height:20px;
}

#aside{
position:absolute;
width:100px;
text-align:left;
top:850px;
margin-left:1200px;
}

#tabela{
position:absolute;
text-align:left;
background-color:gray;
top:150px;
left:60px;
border-style:solid;
border-color:greenyellow;
}

