h1{
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
 }

 p{
     font-weight: 600;
     font-size: 3em;
     font-style: italic;
     text-align: center;
 }

 body{
     font-size: 16px;
 }

 ul{
     line-height: 40px;
     text-align: center;
 }

 #amarelo{
     background-color: yellow;
 }

 #vermelho{
     background-color: red;
 }

 #marrom{
     background-color: brown;
 }