h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#conheca-me{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(233, 233, 118);
}

#cidade{
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    color: green;

}